.left-section {
  justify-content: flex-start;
  padding-left: 5em !important;
  padding: 1% 0 5% 0;
}

.image-container {
  max-width: 40% !important;
  height: auto !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.image-container img {
  border-radius: 1em;
  margin-top: 0 !important;
}

.top-profile {
  display: none;
}

.about-me-text {
  white-space: pre-line;
  text-align: left;
}

@media screen and (max-width: 990px) {
  .left-section {
    height: min-content !important;
    padding: 5% 10%;
  }
  .right-section {
    display: none;
  }
  .specialty-title {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
  }

  .top-profile {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 2em;
  }

  .top-profile img {
    width: 40% !important;
  }
}

@media screen and (max-width: 820px) {
  .about-container {
    .left-section {
      height: max-content !important;
      padding: 5% 10% !important;
    }
    .right-section {
      display: none;
    }
    .top-profile {
      display: block !important;
    }
  }
}

@media screen and (max-width: 430px) {
  .left-section {
    height: max-content !important;
    padding: 10% 3% !important;
  }
  .right-section {
    display: none;
  }

  .specialty-title {
    font-size: 2em;
  }

  .top-profile {
    display: flex !important;
  }

  .top-profile img {
    width: 100% !important;
  }
}
