body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #D35823;
  --secondary-color: #F2CC96;
  --tertiary-color: #F7EBC9;
  --fourth-color: #814906;

  --primary-font-light: 'Poppins-Light';
  --primary-font-regular: 'Poppins-Regular';
  --primary-font-medium: 'Poppins-Medium';
  --primary-font-semibold: 'Poppins-SemiBold';
  --primary-font-bold: 'Poppins-Bold';
}

/* FONTS */
@font-face {
  font-family: "Poppins-Light";
  src: url("../src/assets/fonts/Poppins/static/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/assets/fonts/Poppins/static/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/assets/fonts/Poppins/static/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../src/assets/fonts/Poppins/static/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/assets/fonts/Poppins/static/Poppins-Bold.ttf");
}